a {
  font-size: 20pt;
}
a:hover { 
  fill: red;
}
.cell text , .buttons text { 
  text-anchor: middle; 
  dominant-baseline: central;
}
.edge text { 
  text-anchor: end; 
}
.cell path {
  fill: white;
  stroke: black;
}
.clue text { 
  font-weight: bold;
}
.clue path { 
  fill: gray;
}
.selectable:hover { 
  cursor: pointer;
}
.selectable:hover path { 
  stroke-width: 2; 
  fill: #ff8;
}
.selectable:hover text { 
  fill: black;
}
.selected path {
  stroke-width: 2; 
  fill: #8ff !important;
}
.selected text {
  fill: black !important;
}
.A-success path,.B-success path,.C-success path {
  fill: #0b0;
}
.A-success text,.B-success text,.C-success text {
  fill: white;
}
.A-failure path,.B-failure path,.C-failure path {
  fill: #d00;
}
.A-failure text,.B-failure text,.C-failure text {
  fill: white;
